pandas==2.2.3
PyYAML==6.0.2
pyparsing==3.2.3
requests==2.32.3
cycler==0.12.1
nvidia-cuda-nvrtc-cu11==11.8.89
matplotlib==3.10.1
fsspec==2024.6.1
fonttools==4.57.0
idna==3.10
platformdirs==4.3.7
sentry-sdk==2.25.1
nvidia-cudnn-cu11==9.1.0.70
contourpy==1.3.1
typing_extensions==4.12.2
psutil==7.0.0
nvidia-cublas-cu11==11.11.3.6
setproctitle==1.3.5
nvidia-nvtx-cu11==11.8.86
MarkupSafe==2.1.5
pytz==2025.2
numpy==2.1.2
nvidia-cuda-runtime-cu11==11.8.89
nvidia-curand-cu11==10.3.0.86
typing-inspection==0.4.0
triton==3.2.0
filelock==3.13.1
mpmath==1.3.0
packaging==24.2
nvidia-cufft-cu11==10.9.0.58
pydantic==2.11.3
Jinja2==3.1.4
docker-pycreds==0.4.0
GitPython==3.1.44
nvidia-cuda-cupti-cu11==11.8.87
click==8.1.8
pydantic_core==2.33.1
tzdata==2025.2
protobuf==5.29.4
sympy==1.13.1
torch==2.6.0+cu118
annotated-types==0.7.0
nvidia-nccl-cu11==2.21.5
certifi==2025.1.31
torchvision==0.21.0+cu118
gitdb==4.0.12
networkx==3.3
nvidia-cusparse-cu11==11.7.5.86
setuptools==59.6.0
urllib3==2.4.0
wandb==0.19.9
pillow==11.0.0
charset-normalizer==3.4.1
smmap==5.0.2
nvidia-cusolver-cu11==11.4.1.48
kiwisolver==1.4.8
python-dateutil==2.9.0.post0
six==1.17.0
torchaudio==2.6.0+cu118
pip==22.0.2
